body 
{
    background-color: yellow;
}

h1 
{
    color: black;
    font-family: verdana;
    font-size: 150%;

}

#bodyy {
    background-image: http://cohort21.com/blukyng/files/2015/11/balloon.png (balloons.gif);
}

h2
{
   color: red;	
   font-family: verdana;
   font-size: 130%;

}

p 
{
    color: black;
    font-family: verdana;
    font-size: 100%;

}
