body 
{
    background-color: yellow;
}

h1 
{
    color: black;
    font-family: verdana;
    font-size: 150%;

}

#firstname {
    background-color: white;
}

h2
{
   color: red;	
   font-family: verdana;
   font-size: 130%;

}

p 
{
    color: black;
    font-family: verdana;
    font-size: 100%;

}
